<!DOCTYPE html>
<html lang="en-GB">
  <meta charset="utf-8">
  <title>Tom Carrick</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Tom Carrick">

  <link rel="stylesheet" href="{{ static('carrick/css/main.css') }}">

  <h1>Tom Carrick</h1>

  <p>Coming soon.

</html>
