{% extends 'flatpages/default.html' %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block content_header %}
  {{ super() }}
  <span class="strapline">Web development consultant. Django, Python.</span>
{% endblock %}
